<% if (post.prev || post.next){ %>
  <% if (post.prev && post.next){ %>
    <div class="ui two column stackable center aligned grid basic segment">
  <% } else { %>
    <div class="ui one column stackable center aligned grid basic segment">
  <% } %>
    <% if (post.prev){ %>
      <div class="column">
        <a href="<%- url_for(post.prev.path) %>" class="ui left labeled icon button">
          <i class="left arrow icon"></i>
          Newer
        </a><br/>
        <a href="<%- url_for(post.prev.path) %>" class="meta">
          <%= post.prev.title %>
        </a>
      </div>
    <% } %>
    <% if (post.next){ %>
      <div class="column">
        <a href="<%- url_for(post.next.path) %>" class="ui right labeled icon button">
          <i class="right arrow icon"></i>
          Older
        </a><br/>
        <a href="<%- url_for(post.next.path) %>" class="meta">
          <%= post.next.title %>
        </a>
      </div>
    <% } %>
  </div>
<% } %>