<%- partial('_partial/head') %>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header is-small-screen">
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <main class="mdl-layout__content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col"><%- body %></div>
        <div class="mdl-cell mdl-cell--4-col"><%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %></div>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </main>
  </div>
  <%- partial('_partial/after-footer') %>
</body>
</html>