<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="ui fluid card">
    <div class="content">
      <div class="meta article-date">
        <%- partial('post/date', {class_name: 'article-date', date_format: 'MMMM D, YYYY'}) %>
      </div>
      <%- partial('post/gallery') %>
      <% if (post.link || post.title){ %>
        <div class="header"><%- partial('post/title', {class_name: 'article-title'}) %></div>
      <% } %>
      <div class="meta">
        <%- partial('post/category') %>
      </div>
      <div class="ui divider"></div>
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <br/>
          <a href="<%- url_for(post.path) %>#more" class="ui right labeled icon button"><i class="right arrow icon"></i><%= theme.excerpt_link %></a>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <div class="extra content">
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="right floated share-popup">Share</a>
      <div class="ui flowing popup top left transition hidden">
        <div class="ui fluid input">
          <input class="article-share-input" value="<%- post.permalink %>" onClick="this.setSelectionRange(0, this.value.length);">
        </div>
        <div class="ui menu">
          <a href="https://twitter.com/intent/tweet?url=<%- encodeURIComponent(post.permalink) %>" class="item share twitter" target="_blank" title="Twitter"><i class="twitter icon"></i></a>
          <a href="https://www.facebook.com/sharer.php?u=<%- encodeURIComponent(post.permalink) %>" class="item share facebook" target="_blank" title="Facebook"><i class="facebook icon"></i></a>
          <a href="http://pinterest.com/pin/create/button/?url=<%- encodeURIComponent(post.permalink) %>" class="item share pinterest" target="_blank" title="Pinterest"><i class="pinterest icon"></i></a>
          <a href="https://plus.google.com/share?url=<%- encodeURIComponent(post.permalink) %>" class="item share google" target="_blank" title="Google+"><i class="google plus icon"></i></a>
        </div>
      </div>
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="right floated">Comments</a>
      <% } %>
      <%- partial('post/tag') %>
    </div>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>
<br/>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>