<div class="ui left vertical menu sidebar">
  <% for (var i in theme.menu){ %>
    <div class="item">
      <a class="" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    </div>
  <% } %>
</div>
<div class="pusher">
<div class="ui top secondary fixed menu grid">
  <div class="item mobile only column" onclick="$('.ui.sidebar').sidebar('setting', 'transition', 'overlay').sidebar('toggle');">
    <i class="icon sidebar"></i>
  </div>
  <div class="item logo-item">
    <a href="<%- url_for() %>">
      <img class="logo" src="/css/images/logo-inverted.svg" onerror="this.onerror=null; this.src='/css/images/logo-inverted@80.png';">
    </a>
  </div>
  <% for (var i in theme.menu){ %>
    <div class="item computer only tablet only column">
      <a class="" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    </div>
  <% } %>
  <div class="right menu grid computer only tablet only column">
    <div class="ui grid">
      <div class="item right">
        <form action="//google.com/search" method="get" accept-charset="UTF-8" autocomplete="off">
          <div class="ui icon input">
            <input placeholder="Search..." name="q" type="text">
            <i class="circular search link icon" onclick="$(this).closest('form').submit();"></i>
            <input type="hidden" name="sitesearch" value="<%- config.url %>">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>